<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Metropolis{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <h3>Metropolis</h3> 
            <div class='menu'>
                <p>About</p>
                <p>Add Movie</p>
                <p>Contact</p>
            </div>
        </header>
        <div id='main'>
            <div class='title'>
                <div class='text'>
                    <h3>Metropolis, more than a film library</h1>
                    <div class='description'>Metropolis is a film database that use OMDB api and the symfony framework.</div>
                    <div class='button'>
                        <a href='#'>add a movie</a>
                    </div>
                </div>
                <div class='image'>
                    <img src='../assets/images/model3.png'>
                </div>
            </div>
            <div class='films'>
                {% for film in films %}
                <h3><a href="{{ path('description', {'id':film.Id}) }}">{{ film.getNom() }}</a></h3>
                    <p>Note : {{ film.getNote() }}</p>
                    <p>Description : {{ film.getDescription() }}</p>
                {% endfor %}
                <a href="{{ path('form') }}">Ajouter un film</a>
            </div>
        </div>
        <footer>
            <div class='icon'></div>
            <div class='icon'></div>
            <div class='icon'></div>
        </footer>
    </body>
</html>
