<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Metropolis{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <h1>Film</h1>
        <div class='films'>
            {% for film in films %}
            <h3><a href="{{ path('description', {'id':film.Id}) }}">{{ film.getNom() }}</a></h3>
                <p>Note : {{ film.getNote() }}</p>
                <p>Description : {{ film.getDescription() }}</p>
            {% endfor %}
            <a href="{{ path('form') }}">Ajouter un film</a>
        </div>
    </body>
</html>
